
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

.main{
    background: url('./image/header.jpg');
    filter: grayscale(100%);
    height: 800px;
}

.main .header{
    background: rgba(0,0,0,0.3);
}

.main .header .navbar-toggler{
    border-color: white;
}

.main .header .container{
    min-height: 140px;
}

.main .content{
    height: 660px;
}

.main .content p{
    background: rgba(0,0,0,0.3);
    line-height: 48px;
    font-size: 36px;
}

.menu li{
    list-style: none;
    border: 10px;
}

#logo{
    z-index: 999;
}

#logo span{
    color: #4bcaff;
}

.services{
    background: #4bcaff;
}

.services hr{
    background: white;
}

.service-detail .title{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.portfolio{
    height: 844px;
}

.portfolio .header{
    height: 194px;
}

.title hr{
    width: 30px;
    background: black;
    height: 1.5px;    
}

.portfolio .menu li{
    list-style: none;
    border: 10px;
}

.li .txt{
    color: black;
}

.border span{
    color: black;
}

a:hover {
    list-style: none;
    border: 10px;
    border-color:blue;
}


.portfolio .content .eft img:hover{
    transform: scale(1, 1.15);
}

.video{
    background: #515f67;
    height: 475px;
}

.video .container .content{
    color: white;
    position: relative; top: 80px;
}

.video .container .content .title .btn{
    border: 10px;
    border-color: #353f46;
    background: #515f67;
    color: #353f46;
}

h4{
    font-size: 20px;
}

.video .container .content .media{
    background: url(image/vimeo.png);
    height: 315px;
    width: 560px;
}

.video .container .content{
    height: 335px;
}

.twitter{
    background: #4bcaff;
    height: 305px;
    color: white;
}

.twitter .container .content .title hr{
    background: white;
}

.video .container .content .title p{
    font-size: 13px;
}

.cli{
    margin-left: 955px;
}

.twitter .content{
    position: relative; top: 80px;
}

.twitter .container .content .title p{
    font-size: 23px;
}

.who{
    background: url(./image/whoisphoto.jpg);
    height: 505px;
}

.who .container .header{
    position: relative; top: 100px;
}

.icon-boder{
    border: 2px;
    border-color: white;
    width: 320px;
    position: relative; top: 20px;
}

.who .container .header .ans hr{
    background: white;
}
.proverb{
    height: 360px;
}

.proverb .container .title .sentence{
    width: 900px;
    font-size: 20px;
}

.proverb .container .title .nick-name{
    color: blueviolet;
}

.double-comand{
    position: relative; top:20px; left: 890px;
    font-size: 60px;
}

.proverb .container .title{
    position: relative; top: 60px;
}
.contact{
    background: url(image/contact1.png);
    height: 815px;
}

.contact .container .title{
    position: relative; top: 80px;
}

.contact .container .title .header hr{
    position: relative; top: 30px; right: 1080px;
}

.contact .container .title .header hr{
    background: white;
}

.contact .container .title .input-data{
    position: relative;top: 30px;
}

.contact .container .title .input-data .data{
    background: transparent;
    border: 1px solid white;    
    opacity: 0.6;
    font-optical-sizing: 0.01;
}

.contact .container .title .input-data .size-data{
    width: 1000px;
    height: 100px;
}

.tail{
    height: 170px;
    background: #353f47;
}

.tail .container .title{
    position: relative; top: 70px;
}

.tail .container .title .menu .tail-text{
    color: #515f67;
}

.email{
    position: relative; top: 20px;
}

.message{
    position: relative; top: 40px;
}

.tail .container .title .menu .year{
    position: relative; left: 695px;
}

.btnMes{
    position: relative; top: 70px;
    width: 180px;
    background-color: #4bcaff;
}